@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 228, 255; /* Light blue for dark mode text */
  }
}

html {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    45deg,
    #10141e, /* Default color at start */
    #0d1a46, /* Darker shade of blue */
    #1f2a65, /* Darker variant of #0232de */
    #4a188d, /* Original dark purple */
    #3a0e7d, /* Darker variant of #4a188d */
    #6323fb, /* Original vibrant purple */
    #5c2cfa, /* Darker variant of #6323fb */
    #10141e /* Default color at end */
  );
  background-size: 200% 200%; /* Reduced size for smoother transition */
  animation: gradientShift 15s linear infinite;
}

body {
  margin: 0;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.flyout {
  animation: fadeInUp 0.3s ease-in-out;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
